<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/projetos-inst.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" type="imagex/png" href="../imagens/icon.png">
    <title>Fortes Engenharia</title>
</head>
<body>
    <header>
        <div class="flex">
            <div id="cabecalho">
                <nav id="opcoes">
                    <ul>
                        <li><a href="#seja-fornecedor">Seja um Fornecedor</a></li>
                        <li><a href="#fale-conosco">Fale Conosco</a></li>
                    </ul>
                </nav>
                <nav id="redes-header">
                    <ul>
                        <li><a href="../login.html"><i class="bi bi-person-circle"></i></a></li>
                        <li><a target="_blank" href="https://br.linkedin.com/company/fortes-engenharia-ltda"><i class="bi bi-linkedin"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/fortesengenharialtda/"><i class="bi bi-instagram"></i></a></li>
                        <li><a href=""><i class="bi bi-translate"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="flex">
            <div id="topo">
                <a href="../index.html"><img src="../imagens/logo-fortes.png" alt="logo_fortes" class="logo-topo"></a>
                <nav id="nav-topo">
                    <ul>
                        <li><a href="./projetos-inst.html">Meus Projetos</a></li>
                        <li><a href="./minhaConta-inst.html">Minha Conta</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div id="wrapper">
            <h1>Meus Projetos</h1>
            <a href="../cadastro.html"><button>Enviar novo Projeto</button></a>
            <div id="projeto_box">
                <ul>
                    <li>
                        <a href="">
                            <div class="project_box">
                                <h2>Aquecendo Vidas</h2>
                                <div id="infos">
                                    <h3>Informações</h3>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="project_box">
                                <h2>McDia Feliz</h2>
                                <div id="infos">
                                    <h3>Informações</h3>
                                </div>
                            </div>
                        </a>
                    </li>
            </div>
        </div>
    </main>
    <footer>
        <div class="copyright">
            © 2021 Fortes Engenharia. Todos os direitos reservados.
        </div>
    </footer>
</body>
</html>